*{
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --background-color : white;
    --text-color: black;
    --intro-color: lightgray;
    --secondary-color:  royalblue;
    --shadow-color: hsl(225 10% 83%);
    --shadow-color-dark: hsl(225 10% 63%);

    --font-size-small: 0.5rem;
    --font-size-normal : 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2rem;

    --spacing-regular: 16px;
    --spacing-small: calc(var(--spacing-regular)/2);
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-large);
}

.header{
    padding: 16px;
    /* position: fixed; */
    position: static;
    top: 0;
    background: var(--background-color);
    /* border-bottom: 4px solid; */
    
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-normal);
}
header nav > a {
    /* margin: 16px; */
    margin-right: 16px;
    /* padding: 8px; */
}
header nav > a:last-child {
    margin-right: revert;
}
nav a:hover,
nav a:visited:hover {
    /* text-decoration: underline;  */
    color: var(--secondary-color);
}
nav a:visited {
    color: royalblue;
    color: inherit;
}

footer{
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
}

section {
    scroll-margin-top: calc(100px - (2*var(--spacing-regular)));
}
.container {
    padding: 16px;
}

.container > section > h2{  /*this > sign  is used to indicate that we are only seleting the immwdiate child or the first node for operation*/
    text-align: center;
}

.intro{
    margin: -16px;
    padding: 16px;
    background-color: var(--intro-color);
    color: white;
    text-align: center;
}

#profile-image{
    height: 400px;
    width: 400px;
    border-radius: 16px;
    transition: transform 2s ease-in-out;
}
#profile-image:hover {
    transform: scale(0.8);
    /* transform: translateY(20px); */
    width: 500px;
    height: 500px;
   
}

.social-links img{
    height: 20px;
    width: 20px;
}

.social-links a{
    text-decoration: none;
    margin: auto 16px;
}

#technologies .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* place-items: center; */
    gap: var(--spacing-regular);
    justify-content: center;
    justify-items: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: var(--spacing-regular);
    box-shadow: 3px 3px 6px 5px var(--shadow-color);
    width: 100%;
    border-radius: var(--spacing-regular);
    transition: transform 0.4s ease-in, box-shadow 0.4s ease-in-out;
}

.cards:hover {
    box-shadow: 3px 3px 8px 9px var(--shadow-color-dark);
    transform: translateY(calc(-1 * var(--spacing-small)));
}
.cards ul {
    list-style: none;
    padding: 0;
    /* text-align: center; */
}
.cards header h1 {
    margin: 0;
}

.dyanamic-text-color{
    color: royalblue;
}

form#contact{
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label{
    display: block;
    font-weight: 600;
    font-size: var(--font-size-normal);
}

#contact input, #contact textarea, #contact button{
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}

#contact-me{
    margin-top: 20px;
}

.mobile-nav ,
section.menu {
    display: none;
}
@media (width<525px) {
    .default-nav {
        display: none;
    }
    .mobile-nav {
        display: revert;
    }
    #menu-button {
        display: block;
        background-color: var(--background-color);
        color: var(--text-color);
        border-color: var(--text-color);
        border-radius: 8px;
        margin-left: auto;

    }
    section.menu {
        display: revert;
        height: 0;
        width: 100%;
        overflow: hidden;
        position:fixed;
        top: 0px;
        z-index: 1;
        background: var(--background-color);
        transition: height 0.5s ease-in-out;
    }
    section.menu ul {
        list-style: none;
    }
    section.menu ul > li{
        margin-bottom: 16px;
        font-size: 1.5rem;
    }
    section.menu nav a{
        font-size: var(--font-size-large);
    }
    #close-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        font-size: var(--font-size-xl);
        border: none;
        color: var(--text-color);
    }
}

@media (width<=420px) {
    #profile-image {
        width: 100%;
    }
}


@media (prefers-color-scheme: dark) {
    body {
    --background-color: black;
    --text-color: white;
    --intro-color: rgba(169, 169, 169, 0.329);
    --secondary-color: coral;
    }
}